a {
    text-decoration: none;
}

article {
    flex: 1 1 50%;
    border-radius: 4px;
    padding: 1rem;
    position: relative;
}



article blockquote {
    margin: 1rem;
    margin-bottom: 2rem;
}

article h2 {
    text-align: capitalize;
    border-bottom: thin solid;
}


footer {
    position: fixed;
    inset: 0;
    top: calc(100vh - 12rem);
}

li {
    margin: 1rem;
}

main {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    height: calc(100vh - 18rem);
    overflow-y: scroll;
    justify-content: flex-start;
}


ul {
    list-style: none;
}

.card {
    flex: 1 1 50%;
    border: 2px solid;
    border-radius: 4px;
}

.back {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin-right: 1rem;
    border: groove black;
    background-color: var(--dark-accent);
    color: var(--light-theme);
}