*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;

}

.form {
    display: flex;
    justify-content: center;
    align-items: center;

}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.circle {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px;
    margin: 24px;
    cursor: pointer;
    font-size: 24px;
    background-color: #247BA0;
    color: white;
  }
  
input {
  background-color: #f7f7f7;
  }



#name,
#email,
#submit {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 20px;
    box-sizing: border-box;
    font-size: 18px;
  }